/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
     Arial, "Noto Sans" sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    padding: 10px 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav a{
    text-decoration: none;
    color: #6b7280;
}

header nav a:hover{
    color: #5A67D8;
}

.overview-hero{
    background-color: #E2E8F0;
}

.overview-hero .container{
    display: flex;
    
    align-items: center;
    gap: 24px;
    padding: 20px 0;
}

.overview-hero-image img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 10px;
    padding: 20px;
}

.overview-hero-text{
    padding: 20px;
}

.learn-about .container{
    padding: 20px;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.learn-about .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.learn-about .card{
    border: 1px #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 16px;
}

.learn-about .card img{
    width: 274px;
    height: 200px;
}

.learn-about .card h3{
    color: #48BB78;
    font-size: 21px;
}

.testing{
    background-color: #4A5568;
    padding: 30px 0;
}

.testing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
    padding: 20px;
    border-radius: 6px;
}

.testing .btn{
    color: #fff;
    background-color: #48BB78;
    display: inline-flex;
    padding: 12px 28px;
    width: 86px;
    height: 24px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    
}

.stories{
    padding: 30px;
}

.stories article{
    display: flex;
    align-items: center;
    gap: 20px;
}

.stories h2{
    color: #5A67D8;
    font-size: 18px;
}

.stories article img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.stories .article-body h3{
    font-size: 18px;
}

.stories .article-body p a{
    color: #5A67D8;
    text-decoration: none;
}

.newsletter{
    background-color: #48BB78;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.newsletter .container{
    padding: 30px;
}

.newsletter form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.newsletter input#email{
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.newsletter .btn{
    background-color: #5A67D8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

}

footer{
    background-color: #4A5568;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

footer p{
    margin: 0;
}