/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
     Arial, "Noto Sans" sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    padding: 10px 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav a{
    text-decoration: none;
    color: #6b7280;
}

header nav a:hover{
    color: #5A67D8;
}

.overview-hero .container{
    display: flex;
    background-color: #E2E8F0;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
}

.overview-hero-image img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 10px;
    padding: 20px;
}

.overview-hero-text{
    padding: 20px;
}